spring:
    profiles:
        active: dev
    application:
        name: BusProject
        version: 1.0.0
---
spring:
    config:
        activate:
            on-profile: dev
    datasource:
        url: jdbc:postgresql://localhost:5432/shoot
        username: postgres
        password: Ghbdtn
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 20
    
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB
jwt:
    secret: 66546A555E5A7234753778214123222A472D4B614E645262356B587032733576
    access:
        cookie_name: access_token
        duration:
            minute: 60
            second: 3600
    refresh:
        cookie_name: refresh_token
        duration:
            day: 7
            second: 604800
upload:
    path: C:\Users\Ильсаф\Downloads
logging:
    file:
        name: sysmon.log
server:
    port: 8080
---
spring:
    config:
        activate:
            on-profile: prod
server:
    port: 9001